* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Trebuchet MS";
}
.menuButton {
    color: white;
    font-size: 3vw;
    cursor: pointer;
}
.menuButton:hover {
    font-size: 4vw;
    transition: 0.25s;
}
header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: 60px;
}
#headerLeft {
    float: left;
    margin-bottom: 5px;
    margin-left: 20px;
}

#headerLeft span~a {
    font-size: 40px;
    text-decoration: none;
    color: white;
}
#sidenavLeft {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(#42647F, #030d03);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 5px;
    border-right: solid 1px white;
}

#sidenavLeft a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.1vw;
    color: white;
    display: block;
}
#sidenavLeft a:nth-of-type(3) {
    padding-top: 20px;
}
#sidenavLeft a:nth-of-type(2) {
    font-size: 35px;
    cursor: default;
}
#sidenavLeft a:not(a:nth-of-type(2)):hover {
    color: darkgray;
    font-size: 1.4vw;
    transition: 0.15s;
}
#sidenavLeft a:nth-of-type(2):hover {
    color: white;
}

#sidenavLeft .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding-top: 15px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    #sidenavLeft {padding-top: 15px;}
    #sidenavLeft {font-size: 18px;}
}

#headerRight {
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    position: relative;
}
#headerRight ul{
    list-style-type: none;
}
#headerRight li {
    margin-bottom: 10px;
}
#sidenavRight a {
    margin-left: 5px;
    padding: 10px;
    font-size: 15px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
}
#sidenavRight a:first-of-type {
    margin-top: 0;
}
#sidenavRight a:hover {
    background: white;
    color: black;
    transition: 0.3s;
}
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99; /* Make sure it does not overlap */
    border: white 2px solid;
    outline: none; /* Remove outline */
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0.5vw 1.2vw 0.8vw;
    border-radius: 10px;
    font-size: 1.5vw;
    display: none;
}

#myBtn:hover {
    color: black;
    background-color: white; /* Add a dark-grey background on hover */
    padding: 0.7vw 1.4vw 1vw;
    transition: 0.3s;
}

section:first-of-type {
    font-size: 50px;
    /*padding-top: 3.1vw;*/
}
#content {
    border-top: white 1px solid;
    clear: both;
    font-size: 50px;
    padding: 2vw 0;
    background: gray;
    background: linear-gradient(#42647F, #030d03);
    /*background: linear-gradient(#3B3B3B, black);*/
    background-attachment: fixed;
}
.firstLine {
    clear: both;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 10%;
    margin-right: 10%;
    height: 0.5vw;
    border: 0;
    background-color: white;
}
.firstLine::after {
    content: '';
    display: block;
    height: 0.25vw;
    background-color: darkgray;
}
/*ke vidam dali vakvo nesto ke napravam*/
#mainIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 41vw;
    background: url("../images/background-nature1.4.jpg") no-repeat center center;
    background-size: cover;
}
#mainIntro h1 {
    margin-top: 30vw;
    color: white;
    font-size: 3vw;
}
#mainIntro br {
    display: block;
    content: " ";
    margin: 0.7vw 0;
}
#mainIntro h3 {
    color: white;
    font-size: 1.2vw;
}
#mainIntro a {
    text-decoration: none;
    color: white;
}
#mainIntro a:hover {
    color: darkgray;
    padding: 0 20px;
    transition: 0.3s;
}

#whoAmI {
    color: white;
    height: 28vw;
}
#firstArticleLeft {
    margin-left: 20%;
    width: 28%;
    float: left;
}
#firstArticleLeft p:last-of-type {
    text-indent: 0;
    text-align: center;
}
#firstArticleLeft p a {
    text-decoration: none;
    color: darkgray;
}
#firstArticleLeft p a:hover{
    color: white;
    text-decoration: underline;
    transition: 0.3s;
}
/*glej da go trgnes # ako nema potreba*/
section h1{
    font-size: 2vw;
    text-align: center;
}
section p {
    font-size: 1vw;
    text-indent: 4vw;
    text-align: justify;
}

section br{
    display: block;
    content: " ";
    margin: 2vw 0;
}
#firstArticleRight img {
    margin-right: 20%;
    float: right;
    width: 25%;
    border: white 1px solid;
    border-radius: 15px;
}
#education {
    clear: both;
    color: white;
    height: 28vw;
}
#secondArticleLeft img {
    margin-left: 20%;
    float: left;
    width: 25%;
    border: white 1px solid;
    border-radius: 15px;
}
#secondArticleRight {
    border-radius: 15px;
    /*padding: 1vw;*/
    margin-right: 20%;
    width: 28%;
    float: right;
}
/*#secondArticleRight:hover {
    background: radial-gradient(white, #F8F8F8 10%, #F5F5F5, #E8E8E8, #DCDCDC, #D3D3D3, #C8C8C8, #BEBEBE, #B0B0B0);
    color: #202020;
    box-shadow: 0.4vw 0.4vw 0.3vw black;
    transition: 0.5s;
}*/
#athlete {
    clear: both;
    color: black;
    height: 16vw;
    /*height: 41vw;*/
    /*border: white 5px solid;
    border-radius: 15px;*/
}
#athlete div{
    float: left;
    color: white;
    width: 28%;
    margin-left: 20%;
}
#athlete img {
    float: right;
    height: 15vw;
    margin-right: 20%;
    border: white 1px solid;
    border-radius: 15px;
}
#athlete h1 {
    color: white;
}
#skills {
    clear: both;
    padding: 1vw 0;
    color: white;
}
#skills br {
    display: block;
    content: " ";
    margin: 1vw;
}
#skills #communicationSkills {
    margin-left: 10%;
    margin-right: 30%;
}
#skills #organisingSkills {
    margin-left: 20%;
    margin-right: 20%;
}
#skills #computerSkills {
    margin-left: 30%;
    margin-right: 10%;
}
#skills h2 {
    font-size: 2vw;
}

#boxes {
    margin-top: 2.5vw;
    height: 14vw;
    background: transparent;
    display: flex;
    flex-direction: row;
    /*border: white 2px solid;*/
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
}
.percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7vw;
    height: 10vw;
    width: 10vw;
    margin-right: auto;
    margin-left: auto ;
    background: transparent;
    border: white 2px solid;
    border-radius: 15px;
    color: white;
    box-shadow: 0.4vw 0.3vw 0.3vw black;
}
.percentage:hover {
    background: radial-gradient(white, #F8F8F8 10%, #F5F5F5, #E8E8E8, #DCDCDC, #D3D3D3, #C8C8C8, #BEBEBE, #B0B0B0);
    background: white;
    color: black;
    font-size: 2.2vw;
    transition: 0.25s;
    cursor: pointer;
}

#keySkills {
    padding-top: 1vw;
    padding-bottom: 10vw;
}
#keySkills h1 {
    color: white;
}
#one, #two, #three, #four, #five, #six {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vw;
    font-size: 2vw;
    font-weight: bold;
    width: 25%;
    margin-left: 2.5%;
    margin-bottom: 20px;
    color: white;
    background-color: transparent;
    border: ghostwhite 2px solid;
    box-shadow: 0.6vw 0.5vw 0.5vw black;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover{
    color: black;
    background: radial-gradient(white, #F8F8F8 10%, #F5F5F5, #E8E8E8, #DCDCDC, #D3D3D3, #C8C8C8, #BEBEBE, #B0B0B0);
    /*background: radial-gradient(white, #F5F5F5 10%, #F0F0F0, #E8E8E8, #E0E0E0, #DCDCDC, #D8D8D8, #D3D3D3, #D0D0D0, #C8C8C8, #C0C0C0, #BEBEBE);*/
    /*background: #B7C3D0;*/
    transition: 0.5s;
}
#two br {
    display: block;
    content: " ";
    margin: 0.1vw;
}
#secondRow {
    clear: both;
}
#one {
    margin-left: 10%;
    border-radius: 15px 15px 0 15px;
}
#two {
    border-radius: 15px 15px 0 0;
}
#three {
    border-radius: 15px 15px 15px 0;
}
#four {
    margin-left: 10%;
    border-radius: 15px 0 15px 15px;
}
#five {
    border-radius: 0 0 15px 15px;
}
#six {
    border-radius: 0 15px 15px 15px;
}

#lifeGoal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vw 0;
    border-radius: 5px;
    background: radial-gradient(white, #F8F8F8, #F5F5F5, #E8E8E8, #DCDCDC, #D3D3D3, #C8C8C8, #BEBEBE, #B0B0B0);
    /*background: radial-gradient(white, #F5F5F5, #F0F0F0, #E8E8E8, #E0E0E0, #DCDCDC, #D8D8D8, #D3D3D3, #D0D0D0, 	#C8C8C8, #C0C0C0, #BEBEBE);*/
}
#lifeGoal div {
    padding: 1vw 0;
    margin-left: 10%;
    margin-right: 10%;
}
#lifeGoal div h1 {
    color: 	#202020;
}
#lifeGoal div p {
    font-size: 1.5vw;
    color: #505050;
    text-indent: 0;
    text-align: center;
}
#techGeek {
    color: white;
    padding: 1.5vw 0;
    margin-left: 10%;
    margin-right: 10%;
}

#divided {
    clear: both;
    height: 40vw;
    margin-left: 10%;
    margin-right: 10%;
    /*margin-top: 4vw;*/
}
#divided div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    float: left;
    width: 42%;
    height: 35vw;
    background: radial-gradient(white, #F8F8F8, #F5F5F5, #E8E8E8, #DCDCDC, #D3D3D3, #C8C8C8, #BEBEBE, #B0B0B0);;
    border-radius: 15px;
    box-shadow: 0.6vw 0.5vw 0.5vw black;
}
#divided div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4.5%;
    float: right;
    width: 42%;
    height: 35vw;
    background: radial-gradient(white, #F8F8F8, #F5F5F5, #E8E8E8, #DCDCDC, #D3D3D3, #C8C8C8, #BEBEBE, #B0B0B0);;
    border-radius: 15px;
    box-shadow: 0.6vw 0.5vw 0.5vw black;
}
#divided div:hover {
    padding: 3vw 0;
    transition: 0.25s;
}
#divided img, #divided p, #divided h1 {
    text-indent: 0;
    text-align: center;
    margin-top: 2vw;
    width: 86.5%;
}
#divided img {
    border: white 1px solid;
    border-radius: 15px;
}